.drag-button {
    margin-bottom: 10px;
}

.btn-group.drop {
    margin-bottom: 10px;
}

.dropdown-drag {
    width: fit-content;
    white-space: nowrap;
    padding-top: 0.5385rem;
    padding-bottom: 0.5385rem;
}

.drop-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.form-group.droppable {
    padding-bottom: 0;
    margin-bottom: 0;
}

.form-group.droppable::after {
    border-bottom: none;
}

/* .drop-list li {
    padding-bottom: 10px;
} */
